<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">

    <targets>
        <target name="logfile" xsi:type="File"
                fileName="${basedir}/logs/logs-${shortdate}.txt"
                keepFileOpen="true"
                encoding="utf-8"
                maxArchiveDays="7"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}"/>
        <target name="logconsole" xsi:type="Console"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logconsole"/>
        <logger name="*" minlevel="Debug" writeTo="logfile"/>
    </rules>
</nlog>